body {
	background-color: white
}

#div1 {
    height: auto;
	width: 80%;
	padding: 5px;
    margin: 0 auto;
	background-color: cyan;
    border-style: solid;
	border-width: 5px;
    border-color: black;
}

#mapdiv {
	height: 600px;
	width: 80%;
	margin: 0 auto;
}

#mapdropdown {
	position: relative;
	left: 10%;
}